You will first of all need an arduino and a DHT22 or alik temperature sensor.
you can compile the *.ino file and upload it with any standard arduino softwar (arduni, ino,,..) or your favourite alternative.
In any case make shure you use the DHT-sensor-library (by ardafruit from github)